/* styles.css */
.carousel-item img {
    width: 100%;
    height: auto;
}

.nav-link:hover {
    color: #00ff22;
    transition: color 0.2s ease-in-out;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1,
h2 {
    font-family: 'Roboto', sans-serif;
}

